<section id="overview" class="px-5 py-8 bg-white rounded-xl">

    <div class="mb-8">
        <h2 class="text-center text-2xl font-bold text-slate-950 mb-3">イベント概要</h2>

        <div class="max-w-prose mx-auto text-left text-gray-700 leading-7 space-y-4">

            <p>
                このワークショップでは、産学において広範な活用が期待される、量子コンピュータのCAE分野への応用について議論します。
                この分野は近年「QCAE」と呼ばれ、企業・大学・研究機関において精力的な研究開発が進められています。
                量子コンピュータの活用により、流体シミュレーションや大規模構造解析、さらには複雑な微分方程式の高精度な数値解法への応用が期待されています。
            </p>

            <p>
                今回は、HPC/SCA2026にご参加のHPCを専門とされる皆様を対象に、量子コンピュータの現状や基本原理に触れたうえで、
                実際のQCAEの最先端の取り組みまでを、専門家による講演を通して追体験していただくことを目指します。
                聴衆の前提知識としては、HPCを活用したCAE計算や微分方程式などの数値シミュレーションに関する基礎的な理解があれば、
                十分に内容をお楽しみいただける構成としています。
            </p>

            <p>
                産学のトッププレイヤーによる講演に加え、コーヒーブレイクでは、より近い距離でのフランクな議論の場もご用意しています。
            </p>

        </div>
    </div>

    <div class="text-center">

        <div
            class="mb-4 bg-gray-50 rounded-2xl p-5 text-center border border-gray-200bg-gray-50 rounded-2xl p-5 text-center border border-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor"
                class="size-6 bg-white rounded-full flex items-center justify-center mx-auto mb-4 shadow-sm">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9.348 14.652a3.75 3.75 0 0 1 0-5.304m5.304 0a3.75 3.75 0 0 1 0 5.304m-7.425 2.121a6.75 6.75 0 0 1 0-9.546m9.546 0a6.75 6.75 0 0 1 0 9.546M5.106 18.894c-3.808-3.807-3.808-9.98 0-13.788m13.788 0c3.808 3.807 3.808 9.98 0 13.788M12 12h.008v.008H12V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>

            <p class="text-lg font-semibold text-primary mb-2">量子×CAEの最前線を牽引する専門家による最新動向と展望</p>
        </div>

        <div
            class="bg-gray-50 rounded-2xl p-5 text-center border border-gray-200bg-gray-50 rounded-2xl p-5 text-center border border-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor"
                class="size-6 bg-white rounded-full flex items-center justify-center mx-auto mb-4 shadow-sm">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605" />
            </svg>

            <p class="text-lg font-semibold text-primary mb-2">若手研究者によるQCAE関連の最新研究成果と応用事例の紹介</p>
        </div>

    </div>


    <p class="my-6 text-center text-gray-600">
        本イベントを開催できることを大変嬉しく思っております。皆さまのご参加を心よりお待ちしております。
    </p>

</section>