<section id="program" class="px-5 py-8 bg-gray-50">

  <div class="text-center mb-6">
    <h2 class="text-2xl font-bold text-slate-950 mb-2">暫定スケジュール</h2>
    <p class="text-gray-600">講演者確定後、最終プログラムを公開予定です。</p>
  </div>

  <div>

    <div class="bg-white rounded-2xl p-5 shadow-sm mb-2">
      <div class="flex items-center">

        <div class="bg-gray-50 px-3 py-2 rounded-xl mr-4 flex-shrink-0">
          <p class="text-sm font-semibold text-slate-950">09:00 - 09:10</p>
        </div>

        <div class="flex-1">
          <h3 class="font-semibold text-slate-950 leading-6">開会挨拶</h3>
        </div>

      </div>
    </div>

    <div class="bg-white rounded-2xl p-5 shadow-sm mb-2">
      <div class="flex items-center">

        <div class="bg-gray-50 px-3 py-2 rounded-xl mr-4 flex-shrink-0">
          <p class="text-sm font-semibold text-slate-950">09:10 - 11:10</p>
        </div>

        <div class="flex-1">
          <h3 class="font-semibold text-slate-950 leading-6">招待講演 x 3(発表20分 + 質疑応答10分)</h3>
        </div>

      </div>
    </div>

    <div class="bg-white rounded-2xl p-5 shadow-sm mb-2">
      <div class="flex items-center">

        <div class="bg-gray-50 px-3 py-2 rounded-xl mr-4 flex-shrink-0">
          <p class="text-sm font-semibold text-slate-950">11:10 - 11:20</p>
        </div>

        <div class="flex-1">
          <h3 class="font-semibold text-slate-950 leading-6">コーヒーブレイク</h3>
        </div>
        
      </div>
    </div>

    <div class="bg-white rounded-2xl p-5 shadow-sm mb-2">
      <div class="flex items-center">

        <div class="bg-gray-50 px-3 py-2 rounded-xl mr-4 flex-shrink-0">
          <p class="text-sm font-semibold text-slate-950">11:20 - 13:10</p>
        </div>

        <div class="flex-1">
          <h3 class="font-semibold text-slate-950 leading-6">招待講演 x 3(発表20分 + 質疑応答10分)・閉会</h3>
        </div>
        
      </div>
    </div>    

  </div>

</section>