<section id="overview" class="px-5 py-8 bg-white rounded-xl">

    <div class="text-center mb-8">
        <h2 class="text-2xl font-bold text-slate-950 mb-3">イベント概要</h2>
        <p class="text-gray-600 leading-6 px-5">
            iQCAEワークショップは、学術界と産業界が一堂に会し、CAEシミュレーションにおける量子コンピュータ応用の可能性について議論する場です。<br>
            本ワークショップの目的は、従来のCAEが直面する課題について意見を交換し、解決策を模索し、量子コンピュータがそれらの限界克服にどのように貢献できるかを検討することにあります。
        </p>
    </div>

    <div class="text-center">

        <div class="mb-4 bg-gray-50 rounded-2xl p-5 text-center border border-gray-200bg-gray-50 rounded-2xl p-5 text-center border border-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 bg-white rounded-full flex items-center justify-center mx-auto mb-4 shadow-sm">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.348 14.652a3.75 3.75 0 0 1 0-5.304m5.304 0a3.75 3.75 0 0 1 0 5.304m-7.425 2.121a6.75 6.75 0 0 1 0-9.546m9.546 0a6.75 6.75 0 0 1 0 9.546M5.106 18.894c-3.808-3.807-3.808-9.98 0-13.788m13.788 0c3.808 3.807 3.808 9.98 0 13.788M12 12h.008v.008H12V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>

            <p class="text-lg font-semibold text-primary mb-2">学術界および産業の著名なリーダーによる未来展望の共有</p>
        </div>

        <div class="bg-gray-50 rounded-2xl p-5 text-center border border-gray-200bg-gray-50 rounded-2xl p-5 text-center border border-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 bg-white rounded-full flex items-center justify-center mx-auto mb-4 shadow-sm">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605" />
            </svg>

            <p class="text-lg font-semibold text-primary mb-2">若手研究者による最新の研究成果の発表</p>
        </div>

    </div>


    <p class="my-6 text-center text-gray-600">
        本イベントを開催できることを大変嬉しく思っております。皆さまのご参加を心よりお待ちしております。
    </p>
    
</section>