<section id="about" class="bg-white">
  <div class="bg-gray-50 rounded-2xl p-6 shadow-sm">

    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold text-slate-960 mb-3">
      About iQCAE
      </h2>
      <p class="text-gray-600 leading-6">
      Organised by QunaSys, Inc. to accelerate practical quantum computing for engineering.
      </p>
    </div>

    <div class="space-y-6">

      <div class="bg-white rounded-xl p-5">
        <div class="flex items-center mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
          </svg>
          <h3 class="text-lg font-semibold text-primary">Organisers</h3>
        </div>

        <div class="space-y-3 ml-8">
          <div class="flex items-center">
            <span class="w-2 h-2 bg-slate-950 rounded-full mr-3"></span>
            <p class="text-gray-700">
              <span class="font-semibold text-primary">Kai Watanabe</span> - General Chair
            </p>
          </div>

          <div class="flex items-center">
            <span class="w-2 h-2 bg-slate-950 rounded-full mr-3"></span>
            <p class="text-gray-700">
              <span class="font-semibold text-primary">Dr.Shoichiro Tsutsui</span> - Program Chair
            </p>
          </div>

          <div class="flex items-center">
            <span class="w-2 h-2 bg-slate-950 rounded-full mr-3"></span>
            <p class="text-gray-700">
              <span class="font-semibold text-primary">QunaSys - Publicity</span> - Publicity & Logistics
            </p>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-xl p-5">
        <div class="flex items-center mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
          </svg>
          <h3 class="text-lg font-semibold text-primary">Contact</h3>
        </div>

        <div class="ml-8">
          <p class="text-gray-600 mb-2">Email:</p>
          <a 
            href="mailto:info@qunasys.com" 
            className="text-primary font-semibold hover:underline"
          >
            info@qunasys.com
          </a>
        </div>

      </div>
    </div>

  </div>
</section>
