<header id="header" class="font-semibold text-slate-950 flex flex-col md:flex-row items-center justify-between p-4 bg-white/70 backdrop-blur-md shadow-md">
    <!-- 左側 -->
    <h1 class="text-sm md:text-xl mb-2 md:mb-0 md:ml-4">
      <a href="#hero">iQCAE 2026 Workshop</a>
    </h1>

    <!-- 中央 -->
    <nav class="w-full md:w-auto flex flex-col md:flex-row items-center text-xs md:text-base">
      <a href="#hero" class="py-1 md:py-0 md:mr-8">Home</a>
      <a href="#program" class="py-1 md:py-0 md:mx-8">Program</a>
      <a href="#cfp" class="py-1 md:py-0 md:mx-8">CFP</a>
      <a href="#about" class="py-1 md:py-0 md:mx-8">About</a>
    </nav>

    <!-- 右側 -->
    <div class="mt-2 md:mt-0 md:mr-8">
      <a href="../../jp/page.html">en / jp</a>
    </div>
</header>