<section id="overview" class="px-5 py-8 bg-white rounded-xl">

    <div class="text-center mb-8">
        <h2 class="text-2xl font-bold text-slate-950 mb-3">Welcome</h2>
        <div class="max-w-prose mx-auto text-left text-gray-700 leading-7 space-y-4">

            <p>
                This workshop will discuss applications of quantum computers to the field of CAE, an area expected to
                see broad use across industry and academia. In recent years, this field has come to be known as “QCAE,”
                and intensive research and development is being carried out by companies, universities, and research
                institutes. By leveraging quantum computing, QCAE is expected to enable high-accuracy numerical
                solutions for fluid simulations, large-scale structural analysis, and complex differential equations.
            </p>

            <p>
                Aimed at participants of HPC/SCA 2026 who specialize in HPC, this workshop will guide you from the
                current status and basic principles of quantum computing through to cutting-edge QCAE initiatives,
                presented by leading experts. We expect that a basic understanding of numerical simulation—such as CAE
                computations using HPC and differential equations—will be sufficient to fully appreciate the content.
            </p>

            <p>
                In addition to talks from top players in industry and academia, we are also planning informal
                discussions during the coffee break to enable closer and more open exchange of ideas.
            </p>

        </div>
    </div>

    <div class="text-center">

        <div
            class="mb-4 bg-gray-50 rounded-2xl p-5 text-center border border-gray-200bg-gray-50 rounded-2xl p-5 text-center border border-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor"
                class="size-6 bg-white rounded-full flex items-center justify-center mx-auto mb-4 shadow-sm">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9.348 14.652a3.75 3.75 0 0 1 0-5.304m5.304 0a3.75 3.75 0 0 1 0 5.304m-7.425 2.121a6.75 6.75 0 0 1 0-9.546m9.546 0a6.75 6.75 0 0 1 0 9.546M5.106 18.894c-3.808-3.807-3.808-9.98 0-13.788m13.788 0c3.808 3.807 3.808 9.98 0 13.788M12 12h.008v.008H12V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>

            <p class="text-lg font-semibold text-primary mb-2"> Insights into the future of Quantum CAE from leading
                experts across industry and academia.
            </p>
            </p>
        </div>

        <div
            class="bg-gray-50 rounded-2xl p-5 text-center border border-gray-200bg-gray-50 rounded-2xl p-5 text-center border border-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor"
                class="size-6 bg-white rounded-full flex items-center justify-center mx-auto mb-4 shadow-sm">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605" />
            </svg>

            <p class="text-lg font-semibold text-primary mb-2">Presentations showcasing the latest QCAE research by
                emerging researchers in the field.</p>
        </div>

    </div>


    <p class="my-6 text-center text-gray-600">
        We are delighted to host this event and look forward to your participation.
    </p>

</section>